<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>      
    </configSections>
    <connectionStrings>
        <add name="EP_Programirnaje_projekat___program.Properties.Settings.databazaConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\databaza.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
        <add name="EP_Programirnaje_projekat___program.Properties.Settings.databazaConnectionStringh" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;F:\Program drugo polugodje\EP-Programirnaje-projekat - program\databaza.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
        <add name="EP_Programirnaje_projekat___program.Properties.Settings.autoperionicaConnectionString" connectionString="Data Source=(LocalDb)\Server;Initial Catalog=autoperionica;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="EP_Programirnaje_projekat___program.Properties.Settings.autoperionicaConnectionString1" connectionString="Data Source=G21-KORISNIK\SQLEXPRESS;Initial Catalog=autoperionica;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
